* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

body {
  background-color: white;
  width: 100%;
}

.flex-container-one {
  background-image: url(img/lineas-de-cogido.jpg
  );
  background-repeat: no-repeat;
  background-position: center-top;
  background-size: 100%;
  color: #fff;
}

.equipo {
  margin-top: 300px ;
  font-size: 40px; 
}

.desarrollo {
  font-size: 30px;
  letter-spacing: 0.15em;
}

.pitems2 {
  margin-bottom: 5px;
  font-size: 25px;
  margin-left: 105px;
  letter-spacing: 0.018em;
  
}
p.pitems2 {
  margin-top: 40px;
}
.contactar {
  position: relative;
  left: 110px;
  top: 15px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color:white; 
  font-size: 16px;
  color: white;
  width: 150px;
  height: 40px;
  padding: 2%;
  text-align: center;
  border: none;
  background-color: rgb(1,176,243);
  transition: all;
  transition-duration: 1s;
}

.contactar:hover{
  border-style: solid;
  border-width: 3px;
  border-color:rgb(1,176,243); 
  text-align: center;
  font-size: 13px;
  color: rgb(1,176,243);
  background-color: white;
  transition: all;
  transition-duration: 1.5s;
  
}
.flex-container-one__items1 {
  display: flex;
  justify-content: space-around;
}
.imgitems1 {
  height: 53px;
  padding: 20px;
}
.flex-container-one > hr {
  border: 1px solid #fff;
  margin: 0px 100px;
}
.flex-container-one__items2 {
  display: flex;
  height: 257px;
}
.cajaitems2 {
  width: 50%;
}
.cajaitems2-2 {
  height: 100vv;
  display: flex;
  width: 50%;
}
.telefono1 {
  margin-top: 4%;
  margin-left: 90px;
  text-align: right;
}

.grid-container-two {
  background-color: rgb(34, 176, 233);
  display: flex;
  color: #fff;
  width: 100%;
  height: 110px;

}
.grid-container-two__pt1 {
  width: 50%;
  margin: 20px;
  
}
.grid-container-two__pt2 {
  width: 50%;
  margin: 20px;
  
}
.grid-container-two__pt1>p {
  font-size: 22px;
  letter-spacing: 0.2em;
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
  
}
.grid-container-two__pt2>img {
  width: 230px;
  object-fit: cover;
  margin-top: 6px;
  margin-left: 20px;
}

.grid-container-three {
  display: flex;
  justify-content: space-evenly;
  background: #fff;
  width: 100%;
}
.grid-container-three__pt1 {
  width: 50%;
  background: #fff;
  display: flex;
  margin-top: 3%;
  margin-left: 3%;
}
.caja-three__pt1{
  color: #000;
  margin: 15px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.img-three_pt1 {
  object-fit: cover;
  height: 50px;
  margin-top: 15px;
  margin-left: 40px;
  
}

li {
  color: rgb(34, 176, 233);
  margin: 10px;
  margin-left: 5px;
  padding: 4px;
  padding-left: 5px;
  font-size: 15px;
  
}
.grid-container-three__pt2 {
  width: 50%;
  background: rgb(249, 249, 249);
  display: flex;
  }
.caja-three__parrafo {
  color: #000;
  margin-top: 55px;
  margin-left: 6px;
  font-weight: bold;
  letter-spacing: 0.1em;
  
}

.img-three_pt2 {
    width: 50px;
    height: 40px;
    margin-top: 60px;
    margin-left: 100px;
  }

  iframe {
  width: 300px;
  height: 210px;
  margin-top: 8px;
  }

.caja-form {
  background: rgb(23, 71, 133);
  color: #fff;
  width: 100%;
  height: 285px;
  display: flex;
}

.caja-form-1 {
width: 50%;
display: flex;
}

.engranaje {
width: 115px;
position: relative;
left: 485px;
top: 40px;
}
.form-1__texto>p {
  font-size: 33px;
  letter-spacing: 0.05em;
  position: relative;
  left: 210px;
  top: 100px;
}
.requerimiento {
  position: relative;
  left: 73px;
  bottom: 10px;
}

.caja-form-2 {
width: 50%;
}
.contenedor-form {
  margin: 25px 30px;
}
td>img {
  width: 20px;
}
td {
  padding: 0px;
}
input[type="text"] {
  width: 350px;
  border: 3px solid #aaa;
  border-radius: 10px;
  margin: 8px 0;
  font-size: 17px;
  font-weight: 600;
  outline: none;
  padding: 8px 40px;
  box-sizing: border-box;
  transition: 0.3s;
  color: white;
}
input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}
input[type="number"] {
  width: 350px;
  border: 3px solid #aaa;
  border-radius: 10px;
  margin: 8px 0;
  font-size: 17px;
  font-weight: 600;
  outline: none;
  padding: 8px 40px;
  box-sizing: border-box;
  transition: 0.3s;
  color: white;
}
input[type="number"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="number"] {
  padding-left: 40px;
}
.email {
  width: 350px;
  border: 3px solid #aaa;
  border-radius: 10px;
  margin: 8px 0;
  font-size: 17px;
  font-weight: 600;
  outline: none;
  padding: 8px 42px;
  box-sizing: border-box;
  transition: 0.3s;
  color: white;
}

input[type="email"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="email"] {
  padding-left: 40px;
}
.nombre{
  background: url(img/Recurso\ 6_1.png) no-repeat scroll 0 0 transparent;
  background-position: 4px 4px;
  background-size: 20px;
  height: 40px;
}

.telefono {
  background: url(img/Recurso\ 7.png) no-repeat scroll 0 0 transparent;
background-position: 4px 4px;
background-size: 20px;
height: 40px;
}
.email{
  background: url(img/Recurso\ 8.png) no-repeat scroll 0 0 transparent;
background-position: 4px 10px;
background-size: 20px;
height: 40px;
}

input::-moz-placeholder {  /* Firefox  */
	color: white !important; 
	position: relative;
	left: 33px; 
}
 
input:-ms-input-placeholder {  
	color: white !important;
	position: relative;
	left: 33px;  
}

.enviar{
  position: relative;
  left: 95px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color:white;
  margin-top: 15px; 
  font-size: 16px;
  color: white;
  width: 150px;
  height: 40px;
  padding: 2%;
  text-align: center;
  border: none;
  background-color: rgb(1,176,243);
  transition: all;
  transition-duration: 1.5s;
}
.enviar:hover{
  border-style: solid;
  border-width: 3px;
  border-color:rgb(1,176,243); 
  text-align: center;
  color: rgb(1,176,243);
  padding: 2.5%;
  background-color: white;
  transition: all;
  transition-duration: 1.5s;
  
}

footer {
  display: flex;
  background: rgb(249, 249, 249);
  height: 200px;
}

.caja-footer1 {
width: 50%;
display: flex;
justify-content: center;
}
.somos {
  width: 80px;
  height: 25px;
  position: relative;
  top: 83px;
  left: 65px;
}

.fedesoft {
width: 130px;
height: 30px;
position: relative;
  top: 86px;
  left: 87px;
}
.cocolombia {
  width: 55px;
  height: 55px;
  position: relative;
  top: 72px;
  left: 100px;
}
.caja-footer2 {
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.infofactor {
  width: 150px;
  height: 35px;
  position: relative;
  right: 50px;
}
.contacto1,.contacto2 {
  position: relative;
  right: 30px;
  display: flex;
  font-size: 15px;
  padding: 3px;
  color: rgb(23, 71, 133);
}
.footer2img1 {
  height: 14px;
  padding-right: 5px;
}
.footer2img2 {
  height: 16px;
  padding-right: 8px;
}
@media only screen and (min-width:1025px) and (max-width: 1220px) {
  .flex-container-one__items2 {
    width: 100%;
    display: flex;
    height: max-content;
  }
  .cajaitems2 {
    width: 50%;
  }
  .equipo {
    font-size: 30px;
  }
  .cajaitems2-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    
  }
  .telefono1 {
    
    display: flex;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-content: center;
  }
  .grid-container-two {
    width: 100%;
    display: flex;
  }
  .grid-container-two__pt1 {
    width: 50%;
    text-align: center;
  }
  .grid-container-two__pt2 {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .grid-container-two__pt2>img {
    width: 230px;
    height: 53px;
  }
  iframe {
    width: 320px;
    height: 240px;
  }
  .caja-form {
    width: 100%;
    display: flex;
  }
  .caja-form-1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .form-1__texto {
    display: flex;
    justify-content: center;
    align-content:center ;
    height: 100%;
  }
  .form-1__texto>p {
    position: inherit;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .form-1__img {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
  }
  .engranaje {
    position: inherit;
    width: 116px;
    height: 94px;
  }
  .caja-form-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .footer {
    width: 100%;
    display: flex;
  }
  .caja-footer1 {
    width: 50%;  
  }
  .caja-footer2 {
    width: 50%;
    display: flex;
  }
  
}



@media only screen and (min-width:768px) and (max-width: 1024px) {
  .flex-container-one__items2 {
    width: 100%;
    display: flex;
    height: max-content;
    background-image: url(img/lineas-de-cogido.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .cajaitems2 {
    width: 50%;
    margin: 30px;
  }
  .equipo {
    font-size: 24px;
  }
  .desarrollo {
    font-size: 24px;
  }
  p.pitems2 {
    margin-top: 0px;
  }
  .cajaitems2-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    
  }
  .telefono1 {
    width: 285px;
    height: 140px;
  }

  .grid-container-two {
    width: 100%;
    display: flex;
  }
  .grid-container-two__pt1 {
  width: 50%;
  
}
.grid-container-two__pt1>p {
  font-size: 18px;
  text-align: center;
  }
  .grid-container-two__pt2 {
   width: 50%;
   display: flex;
   justify-content: center;
  }
  .grid-container-two__pt2>img {
    width: 230px;
    height: 53px;
  }
  .grid-container-three {
    width: 100%;
    display: flex;
  }
  .grid-container-three__pt1 {
    width: 50%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 10px;
  }
  .grid-container-three__pt2 {
    width: 50%;
    display: flex;
    justify-content: center;
   }
   .caja-three__parrafo {
    margin-top: 30px;
   }
  .img-three_pt2 {
    margin-left: 0px;
    margin-top: 35px;
  }
  iframe {
    padding: 10px;
  }
  
  .caja-form {
    width: 100%;
  }
  .contenedor-form {
    position: relative;
    left: -15px;
  }
  .caja-form-1 {
    position: relative;
    right: 270px;
  }
  footer {
    width: 100%;
    display: flex;
    
  }

  .caja-footer1 {
    width: 50%;

  } 
  .fedesoft {
    position: inherit;
    width: 120px;
    height: 25px;
    padding-top:70px;
  }
  .cocolombia {
    position: inherit;
    width: 53px;
    height: 53px;
    padding-top:70px;
  }
  .somos {
    position: inherit;
    width: 80px;
    height: 25px;
    padding-top:70px;
  }
  .caja-footer2 {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  .caja-footer2>p {
    font-size: 12px;
  } 
  .infofactor {
    width: 140px;
    height: 30px;
    position: inherit;
  }
}
@media only screen and (min-width:572px) and (max-width: 767px) {
  
  .flex-container-one__items2 {
    width: 100%;
    display: flex;
    background-image: url(img/lineas-de-cogido.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .cajaitems2 {
    width: 50%;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
    
  }
  .equipo {
    font-size: 16px;
  }
  .desarrollo {
    font-size: 16px;
  }
  .pitems2 {
    font-size: 16px;
  }
  p.pitems2 {
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .contactar {
    font-size: 12px;
    padding: 0px 8px;
    margin: 1px;
    height: 30px;
    position: inherit;
  }
  .cajaitems2-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
  }
  .telefono1 {
    width: 220px;
    height: 100px;
    margin-left: 0px;
  }
  .flex-container-one__items2 {
    height: max-content;
  }
  .grid-container-two {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .grid-container-two__pt1 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0px;
    box-sizing: border-box;
  }
  .grid-container-two__pt1>p {
    font-size: 16px;
    padding: 0px 20px;
    box-sizing: border-box;

  }
  .grid-container-two__pt2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 8px 0px; 
    background: rgb(34, 176, 233);
    display: flex;
    justify-content: center;
  }
  .grid-container-two__pt2>img {
    width: 180px;
  }
  .grid-container-three {
    width: 100%;
    display: flex;
    flex-direction: column; 
    
  }
  .grid-container-three__pt1 {
    width: 100%;
    font-size: 13px;
    display: flex;
    margin-left: 0px;
    justify-content: center;
  }
  .img-three_pt1 {
    margin-left: 2px;
  }
  
  li {
    font-size: 13px;
  }
 .grid-container-three__pt2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
 }
 .img-three_pt2 {
 margin-left: 30px;
 margin-top: 30px;
 }
 .caja-three__parrafo {
  margin-top: 30px;
 }
 .caja-form {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
 }
 .caja-form-1 {
  width: 100%; 
  padding: 40px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  
}
.form-1__img {
  display: flex;
    justify-content: center;
}
.engranaje {
  position: inherit;
 
}
.form-1__texto>p {
  position: inherit;
}
.form-1__texto {
 width: max-content;
}
.requerimiento {
  position: inherit;
}

 .caja-form-2 {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
 }
footer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.caja-footer1 {
  width: 100%;
  position: inherit;
  margin-top: 20px;
  justify-content: space-around;
}
.cocolombia {
  position: inherit;
  padding: 20px;
}
.fedesoft {
  position: inherit;
  padding: 20px;
}
.somos {
  position: inherit;
  padding: 20px;
}
.caja-footer2 {
  width: 100%;
  position: inherit;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-around;
}
.infofactor {
  width: 150px;
  height: 35px;
  position: inherit;
}
.contacto1>p {
  font-size: 12px;
}
.contacto2>p {
  font-size: 12px;
}
}

@media only screen and (min-width:320px) and (max-width: 571px) {

  .flex-container-one {
    height: 100%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
  }
  .imgitems1 {
    width: 150px;
    height: 50px;
  }
  .flex-container-one__items2 {
    display: flex;
    flex-direction: column;
    background-image: url(img/código-de-la-escritura-de-java-en-la-pantalla-negra-96561817.jpg);
    object-fit: cover;
    width: 100%;
    height: max-content;
  }
  .pitems2,.equipo,.desarrollo {
    font-size: 18px;
    color: #fff;
    text-align: center;
    justify-content: center;
    margin-left:7px;
    padding: 10px;
    box-sizing: border-box;
  }
  p.pitems2 {
    margin-top: 10px;
  }
  .cajaitems2 {
    width: 100%;
    word-break:break-all
    height: max-content;
    text-align: center;
  }
  .cajaitems2-2 {
    width: 100%;
    
  }
  .contactar {
    position: inherit;
    padding: 2px;
    font-size: 13px;
    width: 120px;
    height: 22px;
  }
  .telefono1 {
    width: 200px;
    margin: auto;
    padding: 20px;
    padding-bottom: 0px;
  }
  .grid-container-two {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .grid-container-two__pt1 {
    width: 100%;
    display: flex;
    height: max-content;
    margin: auto;
  
    
  }
  .grid-container-two__pt1>p {
    font-size: 16px;
    width: auto;
  text-align: center;
   margin: 20px;
    width: 100%;
  }
  .grid-container-two__pt2 {
    width: 100%;
   display: flex;
   height: max-content;
   justify-content: center;
   padding: 20px;
   box-sizing: border-box;
   margin: 0px;
  }
  .grid-container-two__pt2>img {
    width: 180px;
    text-align: center;
  }
  .grid-container-three {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .grid-container-three__pt1 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
    box-sizing: border-box;
  }
  .img-three_pt1 {
    margin: 20px 0px;
    padding-left: 10px;
  }
  .caja-three__pt1 {
    white-space: break-word;
    padding: 5px;
  }
  .caja-three__pt1>p, li {
    font-size: 12px;
    justify-content: center;
  }
  .grid-container-three__pt2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .img-three_pt2 {
  margin: 0px;
  padding: 20px;
  }
  .caja-three__parrafo {
    margin:0px;
    padding: 20px;
  }
  iframe {
    width: 240px;
    height: 200px;
  }
  .caja-form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .caja-form-1 {
    width:100%;
    height: 100%;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
  }
  .engranaje {
    width: 80px;
    position: inherit;
    display: none;
  }
  .form-1__texto>p {
    position: inherit;
    font-size: 22px;
    
  }
  .requerimiento {
    font-size: 22px;
    position: inherit;
  }
  .form-1__texto {
    width: max-content;
    padding: 5px;
   }
  .caja-form-2 {
    width: 100%;
    height: max-content;
    justify-content: center;
  }
  .contenedor-form {
    width: 80%;
    height: 100%;
    box-sizing: content-box;
    justify-content: center;
  }
  .caja-tabla {
    display: flex;
    justify-content: center;
  }
  input[type="text"] {
    width: 280px;
  }
  input[type="number"] {
    width: 280px;
  }
  .email {
    width: 280px;
  }

  footer {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .caja-footer1 {
    width: 100%;
    box-sizing: border-box;
  }
  .cocolombia {
    position: inherit;
    padding: 20px;
    width: 50px;
    padding-right: 0px;
    box-sizing: border-box;
  }
  .fedesoft {
    position: inherit;
    padding: 20px;
    width: 118px !important;
    padding-right: 0px;
  }
  .somos {
    position: inherit;
    padding: 20px;
    padding-right: 0px;
   
    
  }
  .caja-footer2 {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
 
  .infofactor {
    width: 130px;
    padding: 25px;
    margin-left: 50px;
    padding-right: 0px;
  }
 .contacto1>p {
  font-size: 13px;
 }
  .contacto2>p {
    font-size: 13px;
  }

 }