* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

body {
  background-color: white;
  width: 100%;
}

.flex-container-one {
  background-image: url(img/lineas-de-cogido.jpg
  );
  background-repeat: no-repeat;
  background-position: center-top;
  background-size: 100%;
  color: #fff;
}

.equipo {
  margin-top: 300px ;
  font-size: 40px; 
}

.desarrollo {
  font-size: 30px;
  letter-spacing: 0.15em;
}

.pitems2 {
  margin-bottom: 5px;
  font-size: 25px;
  margin-left: 105px;
  letter-spacing: 0.018em;
  
}
p.pitems2 {
  margin-top: 40px;
}
.contactar {
  position: relative;
  left: 110px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color:white; 
  font-size: 16px;
  color: white;
  width: 150px;
  height: 40px;
  padding: 2%;
  text-align: center;
  border: none;
  background-color: rgb(1,176,243);
  transition: all;
  transition-duration: 1.5s;
}

.flex-container-one__items1 {
  display: flex;
  justify-content: space-around;
}
.imgitems1 {
  height: 53px;
  padding: 20px;
}
.flex-container-one > hr {
  border: 1px solid #fff;
  margin: 0px 100px;
}
.flex-container-one__items2 {
  display: flex;
  height: 257px;
}
.cajaitems2 {
  width: 50%;
}
.cajaitmes2-2 {
  height: 200px;
  width: 50%;
}
.telefono1 {
  margin-top: 4%;
  margin-left: 90px;
  text-align: right;
}

.grid-container-two {
  background-color: rgb(34, 176, 233);
  display: flex;
  color: #fff;
  width: 100%;
  height: 110px;

}
.grid-container-two__pt1 {
  width: 50%;
  margin: 20px;
  
}
.grid-container-two__pt2 {
  width: 50%;
  margin: 20px;
  
}
.grid-container-two__pt1>p {
  font-size: 22px;
  letter-spacing: 0.2em;
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
  
}
.grid-container-two__pt2>img {
  width: 230px;
  object-fit: cover;
  margin-top: 6px;
  margin-left: 20px;
}

.grid-container-three {
  display: flex;
  justify-content: space-evenly;
  background: #fff;
  width: 100%;
}
.grid-container-three__pt1 {
  width: 50%;
  background: #fff;
  display: flex;
  margin-top: 3%;
  margin-left: 3%;
}
.caja-three__pt1{
  color: #000;
  margin: 15px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.img-three_pt1 {
  object-fit: cover;
  height: 50px;
  margin-top: 15px;
  margin-left: 40px;
  
}

li {
  color: rgb(34, 176, 233);
  margin: 10px;
  margin-left: 5px;
  padding: 4px;
  padding-left: 5px;
  font-size: 15px;
  
}
.grid-container-three__pt2 {
  width: 50%;
  background: rgb(249, 249, 249);
  display: flex;
  }
.caja-three__parrafo {
  color: #000;
  margin-top: 55px;
  margin-left: 6px;
  font-weight: bold;
  letter-spacing: 0.1em;
  
}

.img-three_pt2 {
    width: 50px;
    height: 40px;
    margin-top: 60px;
    margin-left: 100px;
  }

  iframe {
  background: url(img/landing-fullscreen\ copia.jpg);
  width: 300px;
  height: 210px;
  background-repeat: no-repeat;
  margin-top: 8px;
  }

.caja-form {
  background: rgb(23, 71, 133);
  color: #fff;
  width: 100%;
  height: 285px;
  display: flex;
}

.caja-form-1 {
width: 50%;
display: flex;
}

.engranaje {
width: 115px;
position: relative;
left: 485px;
top: 40px;
}
.form-1__texto>p {
  font-size: 33px;
  letter-spacing: 0.05em;
  position: relative;
  left: 210px;
  top: 100px;
}
.requerimiento {
  position: relative;
  left: 73px;
  bottom: 10px;
}

.caja-form-2 {
width: 50%;
}
.contenedor-form {
  margin: 25px 30px;
}
td>img {
  width: 20px;
}
td {
  padding: 0px;
}
input[type="text"] {
  width: 350px;
  border: 3px solid #aaa;
  border-radius: 10px;
  margin: 8px 0;
  font-size: 17px;
  font-weight: 600;
  outline: none;
  padding: 8px 40px;
  box-sizing: border-box;
  transition: 0.3s;
  color: white;
}
input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}
input[type="number"] {
  width: 350px;
  border: 3px solid #aaa;
  border-radius: 10px;
  margin: 8px 0;
  font-size: 17px;
  font-weight: 600;
  outline: none;
  padding: 8px 40px;
  box-sizing: border-box;
  transition: 0.3s;
  color: white;
}
input[type="number"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="number"] {
  padding-left: 40px;
}
.email {
  width: 350px;
  border: 3px solid #aaa;
  border-radius: 10px;
  margin: 8px 0;
  font-size: 17px;
  font-weight: 600;
  outline: none;
  padding: 8px 42px;
  box-sizing: border-box;
  transition: 0.3s;
  color: white;
}

input[type="email"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="email"] {
  padding-left: 40px;
}
.nombre{
  background: url(img/Recurso\ 6_1.png) no-repeat scroll 0 0 transparent;
  background-position: 4px 4px;
  background-size: 20px;
  height: 40px;
}

.telefono {
  background: url(img/Recurso\ 7.png) no-repeat scroll 0 0 transparent;
background-position: 4px 4px;
background-size: 20px;
height: 40px;
}
.email{
  background: url(img/Recurso\ 8.png) no-repeat scroll 0 0 transparent;
background-position: 4px 10px;
background-size: 20px;
height: 40px;
}

input::-moz-placeholder {  /* Firefox  */
	color: white !important; 
	position: relative;
	left: 33px; 
}
 
input:-ms-input-placeholder {  
	color: white !important;
	position: relative;
	left: 33px;  
}

.enviar{
  position: relative;
  left: 95px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color:white;
  margin-top: 15px; 
  font-size: 16px;
  color: white;
  width: 150px;
  height: 40px;
  padding: 2%;
  text-align: center;
  border: none;
  background-color: rgb(1,176,243);
  transition: all;
  transition-duration: 1.5s;
}
.enviar:hover{
  border-style: solid;
  border-width: 3px;
  border-color:rgb(1,176,243); 
  text-align: center;
  color: rgb(1,176,243);
  padding: 2.5%;
  background-color: white;
  transition: all;
  transition-duration: 1.5s;
  
}

footer {
  display: flex;
  background: rgb(249, 249, 249);
  height: 200px;
}

.caja-footer1 {
width: 50%;
display: flex;
justify-content: center;
}
.somos {
  width: 80px;
  height: 25px;
  position: relative;
  top: 83px;
  left: 65px;
}

.fedesoft {
width: 130px;
height: 30px;
position: relative;
  top: 86px;
  left: 87px;
}
.cocolombia {
  width: 55px;
  height: 55px;
  position: relative;
  top: 72px;
  left: 100px;
}
.caja-footer2 {
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.infofactor {
  width: 150px;
  height: 35px;
  position: relative;
  right: 50px;
}
.contacto1,.contacto2 {
  position: relative;
  right: 30px;
  display: flex;
  font-size: 15px;
  padding: 3px;
  color: rgb(23, 71, 133);
}
.footer2img1 {
  height: 14px;
  padding-right: 5px;
}
.footer2img2 {
  height: 16px;
  padding-right: 8px;
}
